@charset "utf-8";
/* CSS Document */
.etopl{
	float: left;
	color: #fff;
}
.formHeader {
    border: medium none;
    height: 140px;
    margin: 30px 0 0;
    overflow: hidden;
    position: relative;
}
.formBody {
    background-image: url("banner28.jpg") repeat-x 5px;
    background-color: #fff;
    height: auto;
}
.formBody {
    min-height: 32px;
    padding: 60px 20px 25px;
    position: relative;
}
.formHeader .changePhoto {
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 50%;
    bottom: 12px;
    color: #fff;
    height: 40px;
    min-width: 40px;
    overflow: hidden;
    position: absolute;
    right: 12px;
    width: 40px;
    border: none;
    font-size: 20px;
    text-align: center;
}
.fg-float .fg-label {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    position: absolute;
    top: 5px;
    font-weight: 400;
    color: #959595;
    pointer-events: none;
    z-index: 0;
    left: 0;
    white-space: nowrap;
}
.radio-event{
	margin-top: 0 !important;
	margin-left: 20px;
}
.input-group-addon {
    padding: 6px 30px 6px 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    color: #000000;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
	font-size:18px;
}
.add-plate-name{ height: 30px; line-height: 30px; cursor:pointer;}
.add-plate-name:hover{ color: #2196f3;}
.element select { height: 28px;}
.element {display: inline-block;}
.block-title{display: inline-block; margin: 0 0 10px;font-size: 14px}
.group-margin{margin-top: 28px;}
.formHeader img {
    height: auto;
    width: 100%;
}
.formHeader .tip, .pro-banner .tip {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    box-sizing: border-box;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    position: absolute;
    width: 100%;
    font-size: 22px;
}
.formHeader .tip i {
    cursor: pointer;
    margin-right: 10px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 5px;
    width: 35px;
    height: 35px;
    line-height: 35px;
}
.formHeader .tip span {
    font-size: 18px;
    transform: translateY(-3px);
}
.formBody .userFace img {
    border-radius: 50%;
    height: 96px;
    left: 20px;
    position: absolute;
    top: -52px;
    width: 96px;
    border: 4px solid #fff;
}



/*红按钮*/
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.bgm-red {
    background-color: #f44336 !important;
}
.btn-float {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 45px !important;
}
.secetionAdd {
    position: fixed !important;
    right: 15px;
    bottom: 20px;
    z-index: 21;
}
.btn[class*="bgm-"]:not(.bgm-white) {
    color: #fff;
}
.btn-float:not(.m-btn) {
    position: absolute !important;
}
.btn-float i {
    font-size: 23px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.wi-100{
    width: 100%;
}
.cou-btn{
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px !important;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 0 none;
    text-transform: uppercase;
    margin: 0;
    padding: 5px 10px;
}
.fos-20{
    font-size: 20px;
}
.po-in{
	position: inherit !important;
}
.po-ab{
    position: absolute !important;
}
.po-fi{
    position: fixed !important;
}
.po-re{
    position: relative !important;
}